  <aside class="col-12 col-md-2 p-0 bg-dark">
    <nav class="navbar navbar-expand navbar-dark bg-dark flex-md-column flex-row align-items-start">
      <div class="collapse navbar-collapse">
        <ul class="flex-md-column flex-row navbar-nav w-100 justify-content-between">
          <li class="nav-item">
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Recherche">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Go</button>
          </form>
          </li>
          <li class="nav-item">
             <a class="nav-link pl-0" href="/">Accueil</a>
          </li>
          <li class="nav-item">
             <a class="nav-link pl-0" href="/listeMateriel">Lister le matériel</a>
          </li>
          <li class="nav-item" id="listeUtilisateur">
             <a class="nav-link pl-0" href="/listeUtilisateur">Lister les utilisateurs</a>
          </li>
          <li class="nav-item" id="sideMenuInscription">
             <a class="nav-link pl-0" href="/inscription">Inscrire un utilisateur</a>
          </li>
          <li class="nav-item" id="sideMenuConnexion">
             <a class="nav-link pl-0" href="/connexion">Connexion</a>
          </li>
          <li class="nav-item" id="sideMenuDeconnexion">
             <a class="nav-link pl-0" >Déconnexion</a>
          </li>
        </ul>
      </div>
    </nav>
  </aside>
  <script type="text/javascript" src="/scripts/sideMenu.js"></script>
