<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('../partials/navbar') %>

      <main class="col">
        <div class="container">
          <h1><%= title %></h1>
            <form id="formUserConnexion" name="connexion">

              <div class="mb-3">
                <input class="form-control" id="inputMail" type="email" placeholder="E-Mail" name="email" required/>
              </div>

              <div class="mb-3">
                <input class="form-control" type="password" name="motdepasse" id="motdepasse" minlength="8" placeholder="Mot de passe" required/>
              </div>

              <button id="connecterBoutton" class="btn btn-primary" type="submit" name="button">Se connecter</button>

            </form>
        </div>
      </main>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/connexion.js"></script>
  </body>
</html>
