<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('../partials/navbar') %>

      <main class="col">
        <div class="container">
          <h1><%= title %></h1>

            Cliquer sur un utilisateur permet de le consulter
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nom</th>
                  <th>Prénom</th>
                  <th>Adresse Mail</th>
                  <th>Matricule</th>
                  <th>Rôle</th>
                </tr>
              </thead>
              <tbody id="tbodyUsers">

              </tbody>
            </table>

        </div>
      </main>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/utilisateur/listeUtilisateur.js"></script>
  </body>
</html>
