<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= idMateriel %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('partials/navbar') %>

    <main class="col">
      <div class="container">
        <h1>Créer une nouvelle réservation</h1>
		<p id="pGetID" hidden><%= idMateriel %></p>
		<form id="formReservation" name="creerReservation">

		  <div class="mb-3">
			  Date et heure de début
			<input class="form-control" id="inputDebut" type="datetime-local" placeholder="Date de début" name="dateDeb" required/>
		  </div>

		  <div class="mb-3">
			  Date et heure de fin
			<input class="form-control" id="inputFin" type="datetime-local" placeholder="Date de fin" name="dateFin" required/>
		  </div>

		  <button id="validerBoutton" class="btn btn-success" type="submit" name="button">Créer une nouvelle réservation</button>


		</form>
      </div>
    </main>
  </div>
</div>
<script type="text/javascript" src="/scripts/reservations/ajouterReservation.js"></script>
  </body>
</html>
