<!DOCTYPE html>
<html lang="fr" dir="ltr">
	<head>
		<meta charset="utf-8">
		<title>Accès à la ressource refusé</title>
	</head>
	<body>
		<h1>Accès à la ressource <%= ressource %> interdit</h1>
		<h3><%= cause %></h3>
		<a href="/">Retour à la page d'acceuil</a>
	</body>
</html>
