<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tableau des réservations</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('partials/navbar') %>

      <main class="col">
        <div class="container">
          <h1><%= idMateriel %></h1>
		  <p id="pGetID" hidden><%= idMateriel %></p>
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Utilisateur</th>
                  <th>Début</th>
                  <th>Fin</th>
				  <th>Supprimer</th>
                </tr>
              </thead>
              <tbody id="tbodyReservations">

              </tbody>
            </table>

			<a id="creerReservationLien" href="/materiel/<%= idMateriel %>/reservation/creerReservation"><button class="btn btn-success" type="submit" name="button">Créer une nouvelle réservation</button></a>
        </div>
      </main>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/reservations/listeReservation.js"></script>
  </body>
</html>
