<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('../partials/navbar') %>

    <main class="col">
      <div class="container">
        <h1><%= title %></h1>
		<form id="formMateriel" name="modifiermateriel" action="/modifiermateriel" method="post">

		  <div class="mb-3">
			<input class="form-control" id="inputNom" type="text" placeholder="Nom" name="nomMateriel" required/>
		  </div>

		  <div class="mb-3">
			<input class="form-control" id="inputVersion" type="text" placeholder="Version" name="version" required/>
		  </div>

		  <div class="mb-3">
			<input class="form-control" id="inputPhoto" type="text" placeholder="Photo URL (temp ?)" name="photo"/>
		  </div>

		  <div class="mb-3">
			<input class="form-control" id="inputReference" type="text" placeholder="Référence" name="reference" required/>
		  </div>

		  <div id="divFromInputNumTel" class="mb-3">
			<input class="form-control" id="inputNumTel" type="text" placeholder="Numéro de téléphone" name="numtel" />
		  </div>

		  <button id="validerBoutton" class="btn btn-success" type="submit" name="button">Créer un nouveau matériel</button>


		</form>
      </div>
    </main>
  </div>
</div>
<script type="text/javascript" src="/scripts/materiel/creerMateriel.js"></script>
  </body>
</html>
