<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Consulter le matériel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/styleSide.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <body>

  <div class="container-fluid h-100">
  <div class="row h-100">

    <%- include('../partials/navbar') %>

      <main class="col">
        <div class="container">
          <h1>Consulter le matériel</h1>
		  <p id="pGetID" hidden><%= idMateriel %></p>
            <br>
            <p id="nomMateriel">Nom : </p>
            <p id="versionMateriel">Version : </p>
            <p id="refMateriel">Référence : </p>
            <p id="numtelMateriel">Numéro de téléphone :</p>
            <p id="imgMateriel">Image :</p>
			<p>Appareil emprunté :
            <input id="checkboxEmprunte" type="checkbox" name="emprunte" value="false" disabled>
			</p>

			<a id="lienEmprunterMateriel" href="">
				<button type="button" class="btn btn-primary" id="buttonEmprunterMateriel">Valider un emprunt</button>
			</a>

			<a id="lienFinEmprunt" href="">
            	<button type="button" class="btn btn-success" id="buttonFinEmprunt">Valider la fin de l'emprunt</button>
			</a>

			<a id="lienModifier" href="">
            	<button type="button" class="btn btn-warning" id="buttonModifierMateriel">Modifier</button>
			</a>

			<a id="lienListeReservation" href="">
				<button type="button" class="btn btn-secondary">Voir les réservations de l'appareil</button>
			</a>

        </div>
      </main>
    </div>
  </div>
  <script type="text/javascript" src="/scripts/materiel/materiel.js"></script>
  </body>
</html>
